/* this url for the google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

/*  Define variables */
:root
    {
        --color-primary:#7380ec;
        --color-danger:#ff7782;
        --color-success:#41f1b6;
        --color-warning:#ffbb55;
        --color-white:#fff;
        --color-info-dark:#7d8da1;
        --color-info-light:#dce1eb;
        --color-dark:#363949;
        --color-light:#rgba(132,139,200,0.18);/*Opacity */
        --color-primary-variant:#111e88;
        --color-dark-variant:#677483;
        --color-background:#f6f6f9;


        --card-border-radius:2rem;
        --border-radius-1:0.4rem;
        --border-radius-1:0.8rem;
        --border-radius-1:1.2rem;


        --card-padding:1.8rem;
        --pading-1:1.2rem;

        --box-shadow:0 2rem 3rem var(--color-light);
    }




*
    {
        margin:0;/* Removes default margin from all elements */
        padding:0;/* Removes default padding */
        outline:0; /*  Removes focus outlines  */
        appearance: none;/* Removes default styles of form elements in some browsers */
        border:0;/* Removes borders from all elements */
        text-decoration: none; /* Removes underlines from links */
        list-style: none; /* Removes bullets/numbers from lists */
        box-sizing: border-box;  /* Ensures padding and border don’t affect width/height */
    }


html    
    {
        font-size: 14px;
    }

body
    {
        width: 100vw;
        height:100vh;
        font-family: poppins,sans-serif;
        font-size:0.88rem;
        background:var(--color-background);
        user-select: none; /*You cannot select this text*/
        overflow-x: hidden;/* It hides any content that overflows horizontally, preventing a horizontal scrollbar. */
        color:var(--color-dark);
    }





.container
    {
        display: grid;/* Enables CSS Grid layout */
        width:96%; /* Makes the container 96% of the viewport width */
        margin: 0 auto;  /* Centers the container horizontally */
        gap:1.8rem;  /* Adds spacing (gap) between grid items */
        grid-template-columns: 14rem auto 23rem; /* Defines three columns */

    }

a
    {
        color:var(color)
    }


img     
    {
        display:block;
        width: 100%;
    }


h1  
    {
        font-weight: 800;
        font-size: 1.8rem;
    }


h2
    {
        font-size:1.4rem;
    }


h3          
    {
        font-size: 0.87rem;
    }


h4  
    {
        font-size: 0.8rem;
    }


h5
    {
        font-family: 0.7rem;
    }


p
    {
        color:var(--color-dark-variant);
    }

b
    {
        color:var(--color-dark-variant);
    }
    
small
    {
        font-size: 0.75rem;
    }


.profile-photo
    {
        width:2.8rem;
        height:2.8rem;
        border-radius: 50%;
        overflow:hidden;
    }


.text-muted
    {
        color:var(--color-info-dark)
    }

.primary
    {
        color:var(--color-primary);
    }

.danger
    {
        color:var(--color-danger);
    }

.success
    {
        color:var(--color-success);
    }

.warning
    {
        color:var(--color-warning);
    }


/* ===================================SIDETOP=========================== */

aside
    {
        height:100vh;
    }

aside .top
    {
        background: white;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
    }

aside .logo
    {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

aside .logo img
    {
        width: 4rem;
        height:4rem;
    }

aside .close
    {
        display: none;
    }

/* ===================================SIDEBAR=========================== */
aside .sidebar
    {
        /* background: #fff; */
        
        display: flex;/* Makes the sidebar a flexbox container, allowing easy alignment of child elements. */
        flex-direction: column;/*Ensures that sidebar items stack vertically.*/
        height: 86vh;
        position:relative;/*Ensures it moves relative to its normal position.*/
        top:3rem; /*Moves the sidebar 3rem down from its normal position.*/
    }




aside h3
    {
        font-weight: 500;/*Sets a medium font weight for sidebar headings.*/
    }


aside .sidebar a
    {
        display:flex;/* Makes the link a flex container */
        color:var(--color-info-dark);
        margin-left:2rem;/* Moves the link 2rem to the right */
        gap:1rem;/* Adds spacing between child elements inside the link */
        align-items: center;/* Aligns items vertically in the center */
        position: relative;/* Allows absolute positioning of pseudo-elements if needed */
        height:3.7rem;/* Sets a fixed height for each link */
        transition: all 300ms ease;/* Smooth animation effect for hover interactions */
    }
   
aside .sidebar a span
    {
        font-size: 1.6rem; /*Sets the icon size inside the link.*/
        transition: all 300ms ease; /*Smooth animation effect when hovered.*/
    }

aside .sidebar a:last-child
    {
        position:absolute ; /*Moves the last sidebar link to the bottom.*/
        bottom:2rem; /*Fixes the last link 2rem from the bottom.*/
        width:100%;/*Ensures it takes full sidebar width.*/
    }



aside .sidebar a:active
    {
        background: var(--color-light); /*Changes background when the link is clicked.*/
        color:var(--color-primary); /*Changes text color when active.*/
        margin-left: 0;/*Moves the link to the left when clicked.*/
    }


aside .sidebar a.active:before
    {
        content: ""; /*Creates a pseudo-element before active links.*/
        width:6px;
        height:100%;
        background:var(--color-primary); /*Uses the primary color for the active indicator.*/
    }



aside .sidebar a.active span
    {
        color:var(--color-primary); /*Highlights the active link text.*/
        margin-left: calc(1rem-3px); /*Moves text slightly left for better alignment.*/
    }



aside .sidebar a:hover
    {
        color: var(--color-primary); /*Changes text color on hover.*/
    }


aside .sidebar a:hover span
    {
        margin-left: 1rem; /*Moves icons slightly to the right on hover for an animation effect.*/
    }


aside .sidebar .message-count
    {
        background: var(--color-danger);
        color:var(--color-white);
        padding:2px 10px;
        font-size: 11px;
        border-radius: var(--border-radius-1);
    }



/* =========================================MAIN========================= */
main
    {
        /*Adds spacing above the main content to separate it from the navbar or header.*/
        margin-top: 1.4rem;   
    }

main .date
    {
        
        /*Makes the date container wrap around its content (not full width).*/
        display:inline-block; 

        background: var(--color-light);
        /*Adds rounded corners for a softer look.*/
        border-radius: var(--border-radius-1);
        /* Pushes the date container down by 1rem. */
        margin-top: 1rem;
        /* Adds inner spacing (top-bottom: 0.5rem, left-right: 1.6rem). */
        padding:0.5rem 1.6rem;
    }

/* 
main-->Targets the <main> element (the main content area).
.date--->Targets elements with the class date inside <main>.

input[type="date"]	--->
Specifically selects only date input fields inside .date. */
main .date input[type="date"]
    {
        /* Removes default browser styling for the date picker, 
        making it blend into the container. */
        background: transparent;
        color:var(--color-dark);
    }



main .insights
    {
        /* Makes .insights a CSS Grid container, 
        allowing child elements to align in a 
        structured grid layout. */
        display: grid;

        /* Creates 3 equal columns, 
        each taking one-third (1fr) of 
        the available space. */
        grid-template-columns: repeat(3,1fr);

        /*Adds space (1.6rem) between grid items
        to improve readability and design.*/
        gap: 1.6rem;
    }

main .insights > div
    {
        background: var(--color-white);
        padding:var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        transition:all 300ms ease;
    }


main .insights >div:hover
    {
        box-shadow: none;
    }


main .insights >div span    
    {
        background: var(--color-primary);
        padding: 0.5rem;
        border-radius: 50%;
        color:var(--color-white);
        font-size: 2rem;
    }

