/* this url for the google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

/*  Define variables */
:root
    {
        --color-primary:#7380ec;
        --color-danger:#ff7782;
        --color-success:#41f1b6;
        --color-warning:#ffbb55;
        --color-white:#fff;
        --color-info-dark:#7d8da1;
        --color-info-light:#dce1eb;
        --color-dark:#363949;
        --color-light:rgba(132,139,200,0.18);/*Opacity */
        --color-primary-variant:#111e88;
        --color-dark-variant:#677483;
        --color-background:#f6f6f9;


        --card-border-radius:2rem;
        --border-radius-1:0.4rem;
        --border-radius-2:0.8rem;
        --border-radius-3:1.2rem;


        --card-padding:1.8rem;
        --pading-1:1.2rem;

        --box-shadow:0 2rem 3rem var(--color-light);
    }





*    {
        margin:0;/* Removes default margin from all elements */
        padding:0;/* Removes default padding */
        outline:0; /*  Removes focus outlines  */
        appearance: none;/* Removes default styles of form elements in some browsers */
        border:0;/* Removes borders from all elements */
        text-decoration: none; /* Removes underlines from links */
        list-style: none; /* Removes bullets/numbers from lists */
        box-sizing: border-box;  /* Ensures padding and border don’t affect width/height */
    }


html    
    {
        font-size:14px;
    }

body
    {
        width: 100vw;
        height:100vh;
        font-family: poppins,sans-serif;
        font-size:0.88rem;
        background:var(--color-background);
        user-select: none; /*You cannot select this text*/
        overflow-x: hidden;/* It hides any content that overflows horizontally, preventing a horizontal scrollbar. */
        color:var(--color-dark);
    }

.container
    {
       
        display: grid;/* Enables CSS Grid layout */
        width:98%; /* Makes the container 96% of the viewport width */
        margin:0 auto;  /* Centers the container horizontally */
        gap:1rem;  /* Adds spacing (gap) between grid items */
        grid-template-columns: 14rem auto 23rem; /* Defines three columns */

    }


a
    {
        color:var(--color-dark);
    }

img     
    {
        display:block;
        width:100%;
    }

h1  
    {
        font-weight: 800;
        font-size: 1.8rem;
    }

h2
    {
        font-size:1.4rem;
    }


h3          
    {
        font-size: 0.87rem;
    }


h4  
    {
        font-size: 0.8rem;
    }
h5
    {
        font-family: 0.7rem;
    }


small
    {
        font-size: 0.75rem;
    }


.profile-photo
    {
        width:2.8rem;
        height:2.8rem;
        border-radius: 50%;
        overflow:hidden;
    }


.text-muted
    {
        color:var(--color-info-dark)
    }

p
    {
        color:var(--color-dark-variant);
    }


b
    {
        color:var(--color-dark);
    }


.primary
    {
        color:var(--color-primary);
    } 
    
.danger
    {
        color:var(--color-danger);
    }

.success
    {
        color:var(--color-success);
    }

.warning
    {
        color:var(--color-warning);
    }
    


/* =================================================================SIDETOP========================================================= */

aside
    {
        height:100vh;
        
    }

aside .top
    {
        /* background: white; */
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
        background-color: var(--color-white);
    }

aside .logo
    {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

aside .logo img
    {
        width: 4rem;
        height:4rem;
    }

aside .close
    {
        display: none;
    }

/* ===================================SIDEBAR=========================== */
aside .sidebar
    {
        background: #fff;
        
        display: flex;/* Makes the sidebar a flexbox container, allowing easy alignment of child elements. */
        flex-direction: column;/*Ensures that sidebar items stack vertically.*/
        height: 90vh;
        position:relative;/*Ensures it moves relative to its normal position.*/
        top:1rem; /*Moves the sidebar 3rem down from its normal position.*/
    }




aside h3
    {
        font-weight: 500;/*Sets a medium font weight for sidebar headings.*/
    }


aside .sidebar a
    {
        display:flex;/* Makes the link a flex container */
        color:var(--color-info-dark);
        margin-left:2rem;/* Moves the link 2rem to the right */
        gap:1rem;/* Adds spacing between child elements inside the link */
        align-items: center;/* Aligns items vertically in the center */
        position: relative;/* Allows absolute positioning of pseudo-elements if needed */
        height:3.7rem;/* Sets a fixed height for each link */
        transition: all 300ms ease;/* Smooth animation effect for hover interactions */
    }
   
aside .sidebar a span
    {
        font-size: 1.6rem; /*Sets the icon size inside the link.*/
        transition: all 300ms ease; /*Smooth animation effect when hovered. */
    }

aside .sidebar a:last-child
    {
        position:absolute ; /*Moves the last sidebar link to the bottom.*/
        bottom:2rem; /*Fixes the last link 2rem from the bottom.*/
        width:100%;/*Ensures it takes full sidebar width.*/
    }



aside .sidebar a:active
    {
        background: var(--color-light); /*Changes background when the link is clicked.*/
        color:var(--color-primary); /*Changes text color when active.*/
        margin-left: 0;/*Moves the link to the left when clicked.*/
    }


aside .sidebar a.active:before
    {
        content: ""; /*Creates a pseudo-element before active links.*/
        width:6px;
        height:100%;
        background:var(--color-primary); /*Uses the primary color for the active indicator.*/
    }



aside .sidebar a.active span
    {
        color:var(--color-primary); /*Highlights the active link text.*/
        margin-left: calc(1rem-3px); /*Moves text slightly left for better alignment.*/
    }



aside .sidebar a:hover
    {
        color:var(--color-primary); /*Changes text color on hover.*/
    }


aside .sidebar a:hover span
    {
        margin-left: 1rem; /*Moves icons slightly to the right on hover for an animation effect.*/
    }


aside .sidebar .message-count
    {
        background: var(--color-danger);
        color:var(--color-white);
        padding:2px 10px;
        font-size: 11px;
        border-radius: var(--border-radius-1);
    }



/* ====================================================================MAIN========================================================= */
main
    {
        /*Adds spacing above the main content to separate it from the navbar or header.*/
        margin-top: 1.4rem;  
         
    }

main .date
    {
        
        /*Makes the date container wrap around its content (not full width).*/
        display:inline-block; 

        background: var(--color-light);
        /*Adds rounded corners for a softer look.*/
        border-radius: var(--border-radius-1);
        /* Pushes the date container down by 1rem. */
        margin-top: 1rem;
        /* Adds inner spacing (top-bottom: 0.5rem, left-right: 1.6rem). */
        padding:0.5rem 1.6rem;
    }

/* 
main-->Targets the <main> element (the main content area).
.date--->Targets elements with the class date inside <main>.

input[type="date"]	--->
Specifically selects only date input fields inside .date. */
main .date input[type="date"]
    {
        /* Removes default browser styling for the date picker, 
        making it blend into the container. */
        background: transparent;
        color:var(--color-dark);
    }



main .insights
    {
        /* Makes .insights a CSS Grid container, 
        allowing child elements to align in a 
        structured grid layout. */
        display: grid;

        /* Creates 3 equal columns, 
        each taking one-third (1fr) of 
        the available space. */
        grid-template-columns: repeat(3,1fr);

        /*Adds space (1.6rem) between grid items
        to improve readability and design.*/
        gap: 1.6rem;
    }

main .insights small
{
    margin-top: 1.3rem;
    display: block;
}

/* styles the direct child <div> elements inside .insights,
 which is inside <main> */
main .insights > div
    {
        background: var(--color-white);

        /* Adds space inside the div 
        (distance between content and border) */
        padding:var(--card-padding);

        /* Rounds the corners of the div 
        (makes it less boxy) */
        border-radius: var(--card-border-radius);

        /* Adds spacing above the div. */
        margin-top: 1rem;

        /* Adds a shadow effect,
         making the div look slightly lifted. */
        box-shadow: var(--box-shadow);

        /* Smooth animation effect when properties change */
        transition:all 300ms ease;
    }


main .insights >div:hover
    {
        box-shadow: none;
    }

/* Targets all <span> elements 
inside direct child <div> elements
 of .insights. */
main .insights >div span    
    {
        background: var(--color-primary);

        /* Adds space around the content inside the span. */
        padding: 0.5rem;

        /* Makes the <span> circular by rounding its edges completely. */
        border-radius: 50%;
        color:var(--color-white);
        font-size: 2rem;
    }


/* styles the .middle section inside 
each dashboard card within .insights. */ 
main .insights > div .middle
    {
        display: flex;
        align-items: center;
        /* Places child elements at opposite ends 
        (one to the left, one to the right). */
        justify-content: space-between;
    }


/* styles all <h3> headings inside .insights */
main .insights h3 
    {
        /* Adds space around the <h3> 
        (Top: 1rem, Left/Right: 0, Bottom: 0.6rem). */
        margin:1rem 0 0.6rem;
        font-size: 1rem;
    }


/* styles the progress indicator inside 
each dashboard card */
main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights svg 
    {
        width: 7rem;
        height: 7rem;
    }


/* styles the <circle> elements inside
<svg> graphics within .insights */
main .insights svg circle
    {
        /* Removes any fill color inside the circle,
         making it transparent. */
        fill: none;
        /* Sets the stroke (outline) color of the circle */
        stroke: var(--color-primary);
        stroke-width: 14;
        
        /* Rounds the ends of the stroke, 
        making it look smooth. */
        stroke-linecap: round;


        /* Moves the circle slightly (5px right and 5px down) 
        to align properly inside the <svg> container. */
        transform: translate(5px, 5px);

        /* Controls the stroke pattern. 
        This value means the stroke is drawn in segments of 110px,
        creating a progress-circle effect. */
        stroke-dasharray: 110;

        /* Moves the stroke pattern along the path.
        This determines how much of the circle is filled, 
        creating the visual effect of a progress indicator */
        stroke-dashoffset: 92;
    }



/* positions the .number element inside .progress,
 ensuring it is centered within the circular progress bar */
main .insights .progress .number {
        position: absolute;

        /* Moves the .number 45% 
        from the top of its parent (.progress). */
        top: 45%;
        /* Moves the .number 50% from the left of its parent (.progress),
         aligning it horizontally */
        left: 50%;

        /* Offsets the element by half of its
         own width and height, ensuring it stays perfectly
         centered inside the progress circle */
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-dark);


        /* Ensures the element only takes up as much
         space as needed for the text. */
        width: auto;
        height: auto;
    }

/* ---------------------------------sales--------------------------------- */
main .insights .sales svg circle
    {
        stroke-dashoffset: -30;
        stroke-dasharray: 200;
    }

/* ----------------------------------expenses----------------------------- */
main .insights > div .expenses span 
    {
        background: var(--color-danger);
    }

main .insights .expenses svg circle
    {
        stroke-dashoffset: 20;
        stroke-dasharray: 80;
    }
/* ---------------------------income----------------------- */

main .insights > div .income span
    {
        background: var(--color-success);
    }

    
main .insights .income svg circle
    {
        stroke-dashoffset: 35;
        stroke-dasharray: 110;
    }






/* ===============================================================RECENT ORDERS=================================================== */
main .recent-orders
    {
        margin-top: 2rem;  
    }


main .recent-orders h2
    {
        margin-bottom: 0.8rem;
    }

main .recent-orders table
    {
        background: var(--color-white);
        width: 100%;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        text-align: center;
        box-shadow: var(--box-shadow);
        transition:all 300ms;
    }

main .recent-orders table:hover 
    {
        box-shadow: none;
    }


main table tbody td
    {
        height: 2.8rem;
        border-bottom: 1px solid var(--color-light);
        color: var(--color-dark-variant);
    }

main table tbody tr:last-child
    {
        border: none;
    }

main .recent-orders a
    {
        text-align: center;
        display: block;
        margin: 1rem auto;
        color: var(--color-primary);
    }

/* =================================================================RIGHT========================================= */
.right
    {
        margin-top: 1.4rem;
        
        
    }

.right .top 
    {

        display: flex;
        justify-content: center;
        gap:2rem;
        height: 0.1rem;
        gap: 5rem;
        
        

       
    }

.right .top button 
    {
        display: none;
    }


.right .theme-toggler
    {
        background: var(--color-light);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
        width: 6rem;
        cursor: pointer;
        border-radius: var(--border-radius-1);
        
    }


.right .theme-toggler span 
    {
        font-size: 1.2rem;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

.right .theme-toggler span.active
    {
        background:var(--color-primary);
        color: white;
        border-radius: var(--border-radius-1);
    }

.right .top .profile 
    {
        display: flex;
        gap:0.1rem;
        text-align: right;
        
    }



/*---------------------------RESENT UPDATES------------------------- */

.right .recent-updates  
    {
        margin-top: 4rem;
        margin-right: 2rem;
        
    }

.right .recent-updates h2 
    {
        margin-bottom: 0.8rem;
    }


.right .recent-updates .updates 
    {
        background: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
    }

.right .recent-updates .updates:hover
    {
        box-shadow: none;
    }

.right .recent-updates .updates .update
    {
        display: grid;
        grid-template-columns: 3.5rem auto;
        gap: 1rem;
        margin-bottom: 1rem;
        
    }



/* -----------------------------------------------SALES ANALYTICS---------------------------------- */
.right .sales-analytics
    {
        margin-top: 2rem;
        margin-right: 2rem;
    }

.right .sales-analytics h2 
    {
        margin-bottom: 0.8rem;
    }


.right .sales-analytics .item 
    {
        background: var(--color-white);
        display: flex;
        align-items: center;
        gap:1rem;
        margin-bottom: 0.7rem;
        padding:1.4rem var(--card-padding);
        border-radius: var(--border-radius-3);
        box-shadow:var(--box-shadow) ;
        transition: all 300ms ease;
    }


.right .sales-analytics .item:hover
    {
        box-shadow: none;
    }


.right .sales-analytics .item .right
    {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 0;
        width: 100%;
    }


.right .sales-analytics .item .icon
    {
        padding: 0.6rem;
        color:var(--color-white);
        border-radius: 50%;
        background: var(--color-primary);
        display: flex;
    }


.right .sales-analytics .item.offline .icon
    {
        background: var(--color-danger);
    }


.right .sales-analytics .item.customers .icon
    {
        background: var(--color-success);
    }

.right .sales-analytics .add-product
    {
        background-color: transparent;
        border: 2px dashed var(--color-primary);
        color:var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;

    }


.right .sales-analytics .add-product div 
    {
        display: flex;
        align-items: center;
        gap:0.6rem;
    }

.right .sales-analytics .add-product div h3 
    {
        font-weight: 600;
    }